<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>payNWSC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="payNWSCForm" (ngSubmit)="payNWSC()">
  <ion-item>
      <ion-input
        formControlName="meterNumber"
        label="Meter Number"
        type="text"
        required
        label-placement="floating"
        fill="outline"
        placeholder="Enter meter number">
      </ion-input>
  </ion-item>
  <br />

    <ion-button expand="block" (click)="queryNWSC(payNWSCForm.controls['meterNumber'].value)" [disabled]="payNWSCForm.get('meterNumber')?.invalid" *ngIf="!meterValidated">
      Query NWSC
    </ion-button>

    <div *ngIf="meterValidated">
      <ion-item>
        <ion-select
          formControlName="area"
          label="Area"
          label-placement="floating"
          fill="outline"
          placeholder="Select area"
          >
          <ion-select-option *ngFor="let area of areas" [value]="area">
            {{ area }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <br />

      <ion-item>
        <ion-input
          formControlName="amount"
          label="Amount"
          type="number"
          required
          label-placement="floating"
          fill="outline"
          placeholder="Enter amount"
          style="margin-top: 10px;"
          >
        </ion-input>
      </ion-item>
      <br />

      <ion-item>
        <ion-input
          formControlName="phoneNumber"
          label="Phone Number"
          type="tel"
          required
          label-placement="floating"
          fill="outline"
          placeholder="Enter phone number">
        </ion-input>
      </ion-item>
      <br />

      <ion-item>
        <ion-input
          formControlName="password"
          label="Password"
          type="password"
          required
          label-placement="floating"
          fill="outline"
          placeholder="Enter password">
        </ion-input>
      </ion-item>
      <br />

      <ion-button expand="block" type="submit" [disabled]="payNWSCForm.invalid">
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>
