<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title size="large">Transactions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let transaction of transactions" lines="full">
      <!-- Transaction Details -->
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h2>{{ transaction.tranType }}</h2>
        </ion-text>
        <div style="display: flex; ">
          <span style="background-color:rgb(219, 211, 211); border-radius: 50%; width: 50px; height: 50px; padding: 3.5%;">
            <ion-icon name="checkmark-done-circle-outline" size="large" color="white"></ion-icon>
          </span>

          <p style="background-color: aliceblue; width: 70%; padding-inline: 10px; padding-top: 5%; border-top-right-radius: 30px; border-bottom-right-radius: 30px;">
            {{ transaction.date }}</p>
        </div>

      </ion-label>

      <!-- Transaction Amount -->
      <ion-label
      class="ion-text-wrap"
      style="flex: 0 0 30%; text-align: right; padding: 5px;"
      >
        <ion-text color="primary">{{ transaction.amount }}</ion-text>
        <br />
        <ion-text>{{ transaction.id }}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
